@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Where sport competition begins</h1>
    <p>When you don't have motivation to do any kind of sport. Here you will be able to get motivation with competitions.</p>
</div>
